<div>
  <p>
    <strong>Title:</strong>
    <%= book.title %>
  </p>

  <p>
    <strong>Author:</strong>
    <%= book.author %>
  </p>

<% if book.genre.present?  %>
 <p>
    <strong>Genre:</strong>
    <%= book.genre %>
  </p>
<%end %>


<% if book.link.present? %>
   <p>
    <strong>Link:</strong>
    <%= book.link if book.link.present? %>
  </p>
<% end %>


<% if book.content.present? %>
   <p>
    <strong>Content:</strong>
    <%= book.content %>
  </p>
<% end %>

 

</div>
