<div class="min-w-[50%] h-[80vh] flex-col gap-4 p-4 display-format">
  <%= form_with(model: book) do |form| %>
  <% if book.errors.any? %>
    <div style="color: red">

      <ul>
        <% book.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
 
   <div class="form-style">
    <%= form.label :title  %>
    <%= form.text_field :title, class: "input-style" %>
  </div>

  <div class="form-style">
    <%= form.label :author  %>
    <%= form.text_field :author, class: "input-style" %>
  </div>

  <div class="form-style">
    <%= form.label :cover %>
    <%= form.text_field :cover, class: "input-style" %>
  </div>

<div class="form-style">
    <%= form.label :link %>
    <%= form.text_field :link, class: "input-style" %>
  </div>

  <div class="form-style">
    <%= form.label :genre %>
    <%= form.text_field :genre, class: "input-style" %>
  </div>

    <div class="form-style">
    <%= form.label :content  %>
    <%= form.text_area :content, class: "w-[16rem]" %>
  </div>

  
  <div class="btn-style display-format m-4">
    <%= form.submit %>
  </div>
</div>
 
<% end %>


