<div class="w-[80%] h-[80vh] border-8 border-blue-300 border-dashed display-format flex-row gap-4">
  <p style="color: green"><%= notice %></p>
  <div class="border-2 border-gray-300 border-dotted w-[30%]  h-[60vh]">
    <%= image_tag(@book.cover, class:"w-screen h-[60vh] hover:rotate-6") %>
  </div>
  <div class="w-[50%] h-[80vh] display-format flex-col text-2xl text-blue-300">
    <%= render @book %>
    <div class="w-[25rem] h-[5rem] display-format gap-4">
      <button class="btn-style text-base">
        <%= link_to "Edit this book", edit_book_path(@book) %>
      </button>
      <button class="btn-style text-base">
        <%= link_to "Back to books", books_path %>
        </button>
    </div>
    <%= button_to "Destroy this book", @book, method: :delete, class:"btn-style text-base" %>
  </div>
</div>
